.Cateogories h3 {
    text-align: center;
}

.Cateogories-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.Cateogories-div {
    width: 250px;
    background-color: var(--primary-color);
    -webkit-box-shadow: -2px 0px 12px -4px var( --shadow-color--2);
    -moz-box-shadow: -2px 0px 12px -4px var( --shadow-color--2);
    box-shadow: -2px 0px 12px -4px var( --shadow-color--2);
    margin: 10px;
    border-radius: 1rem;
    padding: 1em;
    cursor: pointer;
}

.Cateogories-div:hover {

    background-color: #00838d;
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
}

.Cateogories a{
    text-decoration: none !important;
    color: inherit !important;
}
@media (max-width: 540px){
    .Cateogories-div{
      width: 150px !important;
      margin: .3em;
      height: 10rem;
    }
  }
@media (max-width: 1014px) {
    .Cateogories-list {
       width: 100% ;
    }
}