@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
* {
    box-sizing: border-box;
}

.main {
    margin-top: 90px;
    flex-grow: 1;
    margin-bottom: 40px;
}

.home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-image {
    background-image: url('../images/canva.jpg');
}

.home-image1 {
    background-image: url('../images/teachersday.jpg');
}

.home h1,
p {
    /* color: white; */
    font-family: "Protest Riot", sans-serif;
}

.Explore {
    height: 30px;
    width: 160px;
    border-radius: 8px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--secondary-color);
    background: transparent;
    border-color: var(--secondary-color);
    border-style: double;
    cursor: pointer;
}

.Explore:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
    transition: 0.9s;
}


.swiper-container {
    width: 100%;
    padding: 20px;
}

.swiper-container h3 {
    text-align: center;
}

.mySwiper {
    width: 80%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: red !important;
}

.card {
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: -1px 0px 6px -2px var(--shadow-color--2);
    padding: 20px;
    text-align: center;
    height: 100%;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.button {
    height: 40px;
    width: 180px;
    display: inline-block;
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: var(--hover-color--2);
}

@media (max-width: 400px) {

    .mySwiper {
        width: 100%;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }
}

.form form {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
}


button,
input,
optgroup,
select,
textarea {

    font-family: 'Ionicons' !important;

}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    height: 40px;
}

#otherReason {
    display: none;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--hover-color--2);
}

.success {
    color: var(--sucess-color);
}

.error {
    color: var(--error-color);
}