.course-card h3 {
  text-align: center;
  margin-top: 40px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.course-list a{
  text-decoration: none !important;
  color: inherit !important;
}

.course {
  width: 250px;
  background-color: var(--primary-color);
  -webkit-box-shadow: -2px 0px 12px -4px var( --shadow-color--2);
  -moz-box-shadow: -2px 0px 12px -4px var( --shadow-color--2);
  box-shadow: -2px 0px 12px -4px var( --shadow-color--2);
  margin: 10px;
  border-radius: 1rem;
  padding: 1em;
 flex-grow: 1;
}

.course:hover {

  background-color: #00838d;
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
}
@media (max-width: 540px){
  .course-list{
    width: 100%;
  }
  .course{
    width: 150px !important;
    margin: .3em;
  }
}

@media (max-width: 1014px){
  .course-list{
    width: 100%;
  }
}
