body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #1e1e1e;
  --shadow-color--1: rgba(0, 0, 0, 0.1);
  --shadow-color--2: rgba(0, 0, 0, 0.61);
  --button-color: #5d5d5d;
  --sucess-color: #4caf50;
  --error-color: #ff0000;
  --border-color: #a8a8a8;
  --hover-color: #dbdbdb86;
  --hover-color--2: #494949;
  --menu-color: #272727;
}